.sidebar-section {
    background-color: rgb(170, 232, 163);
    width: 100%;
  }
  
  @media screen and (min-width: 799px) {
    .sidebar-section {
      --offset-height: -570px;
  
      display: grid;
      grid-template-columns: 3fr 1.5fr;
      width: 35vw;
      height: 350px;
      margin: 0 auto;
      top: var(--offset-height);
      left: 75%;
      margin-left: -40vw;
      margin-bottom: var(--offset-height);
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
    }
  }