.homepage-wrapper {
    text-align: center;
    height: 100vh;
    margin: 0;
}
  
.homepage-wrapper h1 {
    padding: 20px;
    margin: 0;
    font-size: 22px;
}
  
.homepage-wrapper img {
    max-width: 100%;
}